* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    min-height: 500px;
}

.bottone-acceso {
    padding: 10px;
    border-radius: 1rem;
    background-color: yellow;
    min-width: 100px;
}

.bottone-spento {
    padding: 10px;
    border-radius: 1rem;
    border-color: aquamarine;
    background-color: black;
    color: white;
    min-width: 100px;
}

.invisibile {
    display: none;
}






